html {
    font-size: 62.5%;
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-image: url("etoile.png");
    width: 100%;
}

#logo_nasa {
    width: 200px;
    height: auto;
}

.frist_table {
    position: absolute;
    left: 13%;
    top: 5%;
    z-index: 1;
    width: 70%;
}

#frist_table th {
    font-size: 1.8rem;
    padding: 3% 1%;
    color: white;
    text-align: center;
    border: 1px lightgrey;
    border-style: none solid none none;
}

th:hover {
    background: blue;
}

#frist_table #last_th {
    border-style: none ;
}

#search {
    display: inline-block;
    position: absolute;
    left: 81%;
    top: 30%;
    background: dimgrey;
    height: 30%;
}

::placeholder {
    color: white;
    text-indent: 10px;
}

/* second mune */
.second_table {
    position: relative;
    left: 10%;
    top: 100%;
    z-index: 1;
    width: 80%;

}

#second_table th {
    font-size: 1.2rem;
    padding: 1% 1%;
    color: white;
    background: dimgrey;
    text-align: center;
    border: 1px lightgrey;
    border-style: none solid none none;
    border-collapse: collapse;
}

#frist_table #last_th2 {
    border-style: none ;
}

#second_table th:hover {
    background: lightgrey;
}

/*section*/

section {
    padding-top: 143px;
    background: black;
}

.container {
    width: 100%;
    display: inline-block;
}

.container_2 {
    width: 45%;
    display: inline-block;
    margin: 2%;
    height: 485px;
}

#second {
    float: right;
}

.div0 {
    display: inline-block;
    width: 100%;
}

.div0 > div {
    display: inline-block;
    width: 49%;
    height: 240px;
}

.third {
    height: 240px;
    display: inline-block;
    width: 99%;
    background-image: url("trappist1f.jpg");
    background-size: cover  ;
    background-repeat: no-repeat ;
}


#iss {
    background-image: url("iss063e055171.jpg");
    background-size: cover  ;
    background-repeat: no-repeat ;
}

#equipage {
    background-image: url("51404585793_8803f6e1aa_k.jpg");
    background-size: cover  ;
    background-repeat: no-repeat
}

#blue {
    background: blue;
}

div footer {
    vertical-align: bottom;
    height: 30px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
}

/*section numero 2*/

.box {
    width: 100%;
}

.box div {
    display: inline-block;
    width: 22%;
    height: 200px;
    margin: 1%;
}

#large {
    width: 45%;
    background-image: url("sarah_yearicks.png");
    background-size: cover  ;
    background-repeat: no-repeat
}

#box_ div {
    display: inline-block;
    width: 22%;
    margin: 1%;
}

#ozone {
    background-image: url("ozone2021_2.png");
    background-size: cover  ;
    background-repeat: no-repeat
}

#wallpaper {
    background-image: url("wallpaper_gamma_rays.jpeg");
    background-size: cover  ;
    background-repeat: no-repeat
}

#webb {
    background-image: url("steam_day_web_release.jpg");
    background-size: cover  ;
    background-repeat: no-repeat
}

#user {
    background-image: url("users_advisory_group.jpg");
    background-size: cover  ;
    background-repeat: no-repeat
}

#sdo {
    background-image: url("sdo_x1_flare_10-28-21_131.jpg");
    background-size: cover  ;
    background-repeat: no-repeat
}

#pia {
    background-image: url("1-pia24818_-_jupiter_bands_leigh_slide1.png");
    background-size: cover  ;
    background-repeat: no-repeat
}

/*footer*/

footer {
    background: black;
}

footer div {
    background: blue;
    text-align: center;
    padding: 4px 0;
    color: white;
}

a {
    color: white;
    text-decoration-line: none;
}

.end {
    text-align: left;
    color: white;
    background: black;
}

.end p {
    display: inline-block;
    position: relative;
    top: -50px;
}



